body {
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.body2 {
  font-family: Arial, Helvetica, sans-serif;
}
*/ .imgbg {
  background-color: #0e86d4;
}
.header2 {
  background-color: #5e37a5;
}

.center {
  text-align: center;
}

.navtop {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #40276e;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid #5e37a5;
  margin: 0%;
}

.underline {
  text-decoration: underline;
}

.current {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit; /* this took me waaaaay to long to find, had to use another students blog to find the answer..*/
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 20%;
  padding-right: 30%;
}

.main2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
  margin: auto;
}

.main3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 80%;
  height: auto;
  margin: auto;
  padding: auto;
}

.main3 p {
  padding: 1% 1% 1% 1%;
}
.item1 {
}

.item2 {
}

.item3 {
}

.item4 {
}

.item5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item5 p {
  padding: 1% 1% 1% 1%;
}

.item6 {
}

.item7 {
}

.example1 {
}

.example2 {
}

.example3 {
}

.example4 {
}

.box1 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
}

.box2 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding-left: 20%;
}

.box3 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding-left: 10px;
}

.box4 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding-left: 100px;
}

.box5 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding-left: 10px;
  margin-left: 10%;
}
.box6 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding-left: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.box7 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding-left: 0;
}

.box8 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding: 0;
}

.box9 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding: 0;
}

.box10 {
  background-color: #ece2e3;
  color: #080808;
  border-right: 5px red solid;
  width: 80%;
  padding: 0;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}
nav {
  padding: 1% 1% 1% 0%;
}

.title {
  display: flex;
  border-left: 2px solid #e12c4a;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  line-height: 1.5;
  margin-top: 0;
  padding: 0 16px;
}

.titlewrapper {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  border-bottom: 1px solid #5fc6cb;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 0%;
  padding-bottom: 1.5%;
  padding-right: 0%;
}

.font {
  font-family: Roboto;
  line-height: 1.625;
  margin: 16px 0 32px;
}

.red {
  color: red;
  font-family: roboto;
  font-weight: 500;
}
a:focus {
  background-color: #e12c4a;
}

a:hover {
  background-color: #e12c4a;
}

li:hover {
  background-color: #e12c4a;
}

.leftnav {
  text-align: left;
  padding-left: 5%;
  margin: 0%;
}

/*.heading2 {
  font-size: ;
  font-weight: 0;
}
*/

.topnavheader {
  font-size: 28px;
  font-weight: 500;
}

.thetopnavheader {
  font-size: 38px;
  font-weight: 500;
}

table,
table tr {
  padding: 0;
}

td {
  border: solid 1px gray;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: internal center;
  unicode-bidi: isolate;
  border-color: gray;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: gray;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: gray;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  /*border-collapse: separate;*/
  /*box-sizing: border-box;*/
  text-indent: initial;
  unicode-bidi: isolate;
  /*border-spacing: 0;*/
  border-color: gray;
}

.sidenav {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #40276e;
  color: #fff;
  padding-left: 0%;
  padding-right: 3%;
  padding-top: 2%;
  margin: 0;
}

@media (max-width: 1020px) {
  .sidenav {
    display: none;
  }
}

@media (max-width: 1020px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
  }
}

@media (max-width: 1020px) {
  .main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-right: 0%;
    padding-bottom: 2%;
    padding-left: 0%;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 1020px) {
  .main3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*@media (min-width: 1020px) {
  .main3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
*/

@media (max-width: 1020px) {
  .imgbg {
    display: none;
  }
}

@media (max-width: 1020px) {
  .titlewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #5fc6cb;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 1.5%;
    padding-right: 0%;
  }
}
/*
a.active {
  background-color: #fff;
}
 */
